<h1>Kendo UI with Rails (No Asset Pipeline)</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p>Your Name: <input id="name" type="text" /></p>
<p>Pick your favorite programming language: <input id="autocomplete" type="text" /></p>
<p>Time of last psych evaluation: <input id="date" type="text" /></p>

<script>
	$(function() {
		$('#autocomplete').kendoAutoComplete(["JavaScript", "Ruby", "C#", "Haskell"]);

		$('#date').kendoTimePicker();
	});
</script>
