<!DOCTYPE html>
<html>
<head>
  <title>GemTestNoAp</title>
  <link href="/stylesheets/kendo.common.min.css" rel="stylesheet"/>
  <link href="/stylesheets/kendo.silver.min.css" rel="stylesheet"/>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/kendo.all.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
